{% extends 'layout.html' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>About Me</h1>
        <p class="lead">Hmm. We’re having trouble finding that site.
                We can’t connect to the server at colab-nu.slack.com.
                If that address is correct, here are three other things you can try:
                
                    Try again later.
                    Check your network connection.
                    If you are connected but behind a firewall, check that Firefox has permission to access the Web.</p>
    </div>
{% endblock %}